.select2-container {
    width: 100% !important;
}

.breadcrumb {
    background-color: #E6E6FA !important;
}

.btn-outlined {
    display: inline-block;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 1.125rem;
    font-weight: 400;
    font-size: 1.3 rem;
    line-height: 1.47;
    outline: none;
    border-radius: 4px;
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

.success {
    color: #28A745;
    border-color: #28A745;
}

.success:hover {
    color: #fff;
    background-color: #28A745;
    border-color: #28A745;
}

.danger {
    color: #DC3545;
    border-color: #DC3545;
}

.danger:hover {
    color: #fff;
    background-color: #DC3545;
    border-color: #DC3545;
}

/* Invoice CSS */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Select 2 CSS */
.select2-container .select2-selection--single {
    height: 32px;
    border-radius: 0;
    border: 1px solid #d2d6de;
}

/* log activities */

.exception-message {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 23px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
